<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboarderus</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1> <span class="lab la-accusoft"></span> Dashboard </h1>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li><a href=""><span>General</span></a>
                </li>

                <li><a href=""><span>Balance</span></a>
                </li>

                <li><a href=""><span>TODO</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h1>
                <label for=""></label>
                General view
            </h1>
            <div class="search-wrapper">
                <input type="search" placeholder="search here">
            </div>
        </header>

        <main>
            <div></div>
        </main>


    </div>

</body>
</html>